
@{
    ViewData["Title"] = "Index";
}


<section class="main">
    <h1>Welcome to Overwatch</h1>
    <div>
        <img src="~/images/OverwatchTitle.jpg" class="center" />
    </div>
    <h3>About</h3>
    <p>
        Overwatch is a colorful team-based shooter game starring a diverse cast of powerful heroes.
        Travel the world, build a team, and contest objectives in exhilarating 6v6 combat.
    </p>
</section>

<h3>Roles</h3>
<section class="frame">
    <div class="one">
        <img src="~/images/TankIcon.png" style="background-color:black;"/>
        <p></p>
        <p>
            Tank heroes soak damage and shatter fortified positions, like closely grouped enemies and narrow chokepoints.
            If you’re a tank, you lead the charge.
        </p>
    </div>
    <div class="two">
        <img src="~/images/OffenseIcon.png" style="background-color:black;" />
        <p></p>
        <p>
            Damage heroes seek out, engage, and obliterate the enemy with wide-ranging tools,
            abilities and play styles. Fearsome but fragile, these heroes require backup to survive.
        </p>
    </div>
    <div class="three">
        <img src="~/images/SupportIcon.png" style="background-color:black;" />
        <p></p>
        <p>
            Support heroes empower their allies by healing, shielding, boosting damage, and disabling foes.
            As a support, you’re the backbone of your team’s survival.
        </p>
    </div>
</section>
