
@{
    ViewData["Title"] = "LearnHow";
}

<h3>⭐Learn How to Gain Stars⭐</h3>

<ol>
    <li>Begin tracking your meals everyday.</li>

    <li>Tracking meals for two or more consecutive days will earn you a star.</li>

    <li>Connect and compare your stars with friends!</li>
</ol>
<h4 class="text-center"><a asp-action="Index">Add a food item today</a></h4>
<img src="~/images/gettyimages-877986058-1514576528.jpg" style="width:100%" />

