
@{
    ViewData["Title"] = "Privacy";
}

<h2>Privacy</h2>
<img src="~/images/CookieMonster.jpg" style="height:30%; width:30%;" />
<h1>COOKIES!!!</h1>
<h2>What exactly is a cookie??</h2>
<p>
    A small text file (up to 4KB) created by a website that is stored in the user's computer either temporarily for that session only or permanently on the hard disk (persistent cookie). Cookies provide a way for the website to recognize you and keep track of your preferences.
</p>
    
<p>
    Cookies Are Beneficial!
</p>
<p>
    Cookies are commonly used to "maintain the state" of a browser session. For example, users can place items in a shopping cart, switch to another page or even another site, and when they come back, the site recognizes them and the current state of the cart. See state and stateless.

    Cookies contain a range of URLs (addresses) for which they are valid. When the Web browser or other HTTP application sends a request to a Web server with those URLs again, it sends along the related cookies. For example, if your user ID and password are stored in a cookie, it saves you from typing in the same information all over again when accessing that service the next time. By retaining user history, cookies allow the website to tailor the pages and create a custom experience for each individual.
</p>
